.application-wrapper {
  height: 100%;
  .body-wrapper {
    margin-top: 68px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
      margin-top: 48px;
    }
    height: 100%;
  }
}