$flash-height: 50px;

.flash-wrapper {
  position: fixed;
  margin-top: -68px;
  height: 68px;
  @media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    margin-top: -48px;
    height: 48px;
    min-height: 48px;
  }
  position: fixed;
  width: 100%;
  z-index: 40;
}

.flash-message {
  position: absolute;
  height: $flash-height;
  z-index: 40;
  width: 100%;
  bottom: 0;
  &.visible {
    bottom: -$flash-height;
  }
  background-color: $dark-text;
  &.success {
    background-color: $success-color;
  }
  &.error {
    background-color: $error-color;
  }
  &.message {
    background-color: $message-color;
  }
  transition: bottom, 0.75s, background-color 1ms;

  .message {
    color: $light-text;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .close-flash {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer;
    i {
      color: $light-text;
      font-size: 1.8em;
    }
    &:hover {
      i {
        color: $light-text-hover;
      }
    }
  }
}