.ReactModal__Content {
  padding: 0 !important;
  border-radius: 2px !important;
  border: none !important;
  .modal-header {
    padding: 10px 15px;
    background-color: $primary-color;
    position: relative;
    .header-button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50px;
      font-size: 1.1em;
      cursor: pointer;
      text-align: center;
      padding-top: 3px;
      &:hover {
        background-color: $primary-hover;
      }
    }
  }
  .modal-body {
    padding: 10px 25px;
  }
  .modal-footer {
    padding: 10px 15px;
  }
  .form-submit {
    float: right;
  }
}