.frontpage-text {
  font-size: 1.4em;
  text-align: center;
  line-height: 1.4em;
}
.white-text {
  color: $light-text;
}
.dark-text {
  color: $dark-text;
}


.mui-btn {
  font-weight: 400;
  background-color: $light-text;
  color: $dark-text;
  &:hover {
    background-color: $light-text-hover;
    color: $dark-text;
  }
  &.mui-btn-primary {
    color: $light-text;
    background-color: $primary-button;
    &:hover {
      background-color: $primary-button-hover;
    }
  }
  &.mui-btn-obvious {
    padding: 0 40px;
    height: 65px;
    line-height: 65px;
    font-size: 1.2em;
  }
}

.mui-form-group {
  .mui-form-control {
    &.text-form {
      &.text-white {
        border-color: $light-text;
        color: $light-text;
        font-weight: 300;
      }
    }
  }
  label.white-label {
    color: $light-text;
  }
}

.ReactModal__Overlay {
  background-color: rgba(0,0,0,0.75) !important;
  z-index: 100;
}
.ReactModal__Content {
  right: auto !important;
  bottom: auto !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 150;
  height: 60%;
  width: 320px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.fixed-width {
  width: 600px;
}