// Colors
$primary-color: mui-color('red', '700');
$primary-hover: mui-color('red', '900');
$highlight-color: mui-color('red', '500');
$light-text: mui-color('grey', '100');
$light-text-hover: mui-color('grey', '300');
$dark-text: mui-color('grey', '800');

$primary-button: mui-color('deep-orange', '700');
$primary-button-hover: mui-color('deep-orange', '600');

$success-color: mui-color('green', '500');
$error-color: mui-color('amber', '500');
$form-error-color: mui-color('red', '500');
$message-color: mui-color('blue', '500');